.features {
  background-image: url(../../img/features_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 192px;
}

/* .features::before {
  content: '';
  position: relative;
  left: 0;
  top: 1600px;
  height: 848px;
  width: 50%;
  background-color: #56ccf2;
  z-index: -1;
} */

.features__container {
  margin: 0 auto;
}

.features__title {
  width: 362px;
}

.features__heading-wrqapper {
  display: flex;
  gap: 16px;
}

.features__img {
  display: inline-block;
  fill: #fff;
}

.features__heading {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.features__subtitle {
  margin: 19px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */
  color: #253757;
}


.features__cards {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 69px;
}

.feature__card {
  display: flex;
  gap: 32px;
  width: 360px;
}

/* .feature__img {

} */

.features__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #fff;
}



.features__blob {
  position: relative;
  width: 1599px;
  height: 729px;

  left: 750px;
  top: -500px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #03D542;
  border-radius: 500px;
  transform: rotate(-65.1deg);

  /* z-index: -1; */
}
